In [2]:
import pandas as pd

In [3]:
#Creating Data
#Series
s = pd.Series([10,20,30],index=['a','b','c'])
print(s)

a    10
b    20
c    30
dtype: int64

In [4]:
#DataFrame
data = {
    'Name':['Aayush','Bishal','Ashmita'],
    'Age':[22,23,20],
    'City':['Lahan','Dharan','Jhapa'],
    'Gender':['Male','Male','Female']
}
df = pd.DataFrame(data)
print(df)

      Name  Age    City  Gender
0   Aayush   22   Lahan    Male
1   Bishal   23  Dharan    Male
2  Ashmita   20   Jhapa  Female

In [5]:
#Reading Data from CSV
df = pd.read_csv('movies.csv')

In [6]:
print(df.head()) #First 5 rows
print(df.tail(3)) #last 3 rows

   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
       movieId                           title                  genres
62420   209163                Bad Poems (2018)            Comedy|Drama
62421   209169             A Girl Thing (2001)      (no genres listed)
62422   209171  Women of Devil's Island (1962)  Action|Adventure|Drama

In [7]:
# Basic Info and Summary
df.info() #Data types,non-null values
df.describe() #Summary stats
df.columns #List of columns
df.shape # Rows * Columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62423 entries, 0 to 62422
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  62423 non-null  int64
 1   title    62423 non-null  object
 2   genres   62423 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

(62423, 3)

In [8]:
#Accessing Data


#Selecting Columns

df['title']

0                          Toy Story (1995)
1                            Jumanji (1995)
2                   Grumpier Old Men (1995)
3                  Waiting to Exhale (1995)
4        Father of the Bride Part II (1995)
                        ...
62418                             We (2018)
62419             Window of the Soul (2001)
62420                      Bad Poems (2018)
62421                   A Girl Thing (2001)
62422        Women of Devil's Island (1962)
Name: title, Length: 62423, dtype: object

In [10]:
df[['title','genres']]

,title,genres
0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,Jumanji (1995),Adventure|Children|Fantasy
2,Grumpier Old Men (1995),Comedy|Romance
3,Waiting to Exhale (1995),Comedy|Drama|Romance
4,Father of the Bride Part II (1995),Comedy
...,...,...
62418,We (2018),Drama
62419,Window of the Soul (2001),Documentary
62420,Bad Poems (2018),Comedy|Drama
62421,A Girl Thing (2001),(no genres listed)
62422,Women of Devil's Island (1962),Action|Adventure|Drama

In [13]:
#Selecting Rows
df.loc[0] # Access by label

movieId                                              1
title                                 Toy Story (1995)
genres     Adventure|Animation|Children|Comedy|Fantasy
Name: 0, dtype: object

In [14]:
df.iloc[1] #Access by position

movieId                             2
title                  Jumanji (1995)
genres     Adventure|Children|Fantasy
Name: 1, dtype: object

In [ ]:
#Filtering


# df[df['genres']=='Adventure']
df[df['genres'].str.contains('Adventure')]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
7,8,Tom and Huck (1995),Adventure|Children
9,10,GoldenEye (1995),Action|Adventure|Thriller
12,13,Balto (1995),Adventure|Animation|Children
...,...,...,...
62214,208293,The Seven Deadly Sins: Prisoners of the Sky (2...,Action|Adventure|Animation|Fantasy
62304,208693,Pippi Longstocking (1997),Adventure|Animation|Children|Comedy
62328,208767,Mobile Suit Gundam I (1981),Action|Adventure|Animation|Drama|Sci-Fi|War
62374,208939,Klaus (2019),Adventure|Animation|Children|Comedy
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [ ]:
#Filtering


df[df['genres'].str.contains('Adventure') & df['genres'].str.contains('Comedy')]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
55,56,Kids of the Round Table (1995),Adventure|Children|Comedy|Fantasy
99,101,Bottle Rocket (1996),Adventure|Comedy|Crime|Romance
105,107,Muppet Treasure Island (1996),Adventure|Children|Comedy|Musical
110,112,Rumble in the Bronx (Hont faan kui) (1995),Action|Adventure|Comedy|Crime
...,...,...,...
62029,207616,Os TrapalhÃµes no Reino da Fantasia (1985),Adventure|Children|Comedy|Fantasy
62032,207622,A Princesa Xuxa e os TrapalhÃµes (1989),Adventure|Children|Comedy|Sci-Fi
62206,208267,Ella and Friends (2012),Adventure|Children|Comedy
62304,208693,Pippi Longstocking (1997),Adventure|Animation|Children|Comedy
62374,208939,Klaus (2019),Adventure|Animation|Children|Comedy

In [22]:
#Modifying Data
#Adding a New Column

df['Country'] ='Nepal'

In [25]:
df.head()

,movieId,title,genres,Country
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Nepal
1,2,Jumanji (1995),Adventure|Children|Fantasy,Nepal
2,3,Grumpier Old Men (1995),Comedy|Romance,Nepal
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Nepal
4,5,Father of the Bride Part II (1995),Comedy,Nepal

In [ ]:
#Updating Values
df.loc[0,'Country']='India'

In [27]:
df.head()

,movieId,title,genres,Country
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,India
1,2,Jumanji (1995),Adventure|Children|Fantasy,Nepal
2,3,Grumpier Old Men (1995),Comedy|Romance,Nepal
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Nepal
4,5,Father of the Bride Part II (1995),Comedy,Nepal

In [28]:
df.drop('Country',axis=1,inplace=True) #Drop column

In [29]:
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
#Handling Missing Data
df.isnull().sum() #Count missing

movieId    0
title      0
genres     0
dtype: int64

In [ ]:
df.dropna(inplace=True) #Remove rows with NaNs

In [ ]:
df.fillna(0,inplace=True) #Replace NaNs with 0

In [33]:
#Sorting and Grouping
df.sort_values(by='movieId',ascending=False)
grouped = df.groupby('genres')['movieId'].mean()
print(grouped)

genres
(no genres listed)                     161693.105887
Action                                 135153.338078
Action|Adventure                       116086.770000
Action|Adventure|Animation             153594.100000
Action|Adventure|Animation|Children    141780.666667
                                           ...
Thriller|War                            89007.076923
Thriller|Western                       106862.600000
War                                    129207.112360
War|Western                            115157.571429
Western                                113737.583929
Name: movieId, Length: 1639, dtype: float64

In [34]:
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [35]:
#Exporting Data
df.to_csv('output.csv',index=False)